.card {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    border-radius: 5px;
}

.card h2 {
    background-color: #333;
    color:aliceblue;
    margin-top: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.card-content {
    padding-left: 10px;
    text-align: left;
}

.topics{
    text-align: center;
    float:left;
    width: 50%;
    margin-bottom: 20px;
}
.main-page-info {
    width: 40%;
    float:right;
}