*{
  
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color:white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;

}

.site-title {
  font-size: 2rem;
}

.site-title:hover{
  color:grey;
  transition: 0.2s;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0rem;
  
  
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .50rem;
}

.nav li.active {
  color: black;
  background-color: gray;
}

.nav li:hover {
  color: black;
  background-color: gray;
  transition: 0.5s;
}
body{
  background-color: grey;
}
.kijelentkezes-btn{
  background-color: gray;
}
