.Ques-div {
  background-color: rgb(198, 223, 224);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.Ques-options-container {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 10px;
}

.Ques-option {
  background-color: #1d7480;
  border-radius: 10px;
  color: #eeeeee;
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 10px;
  transition: 0.3s linear all;
  border: 2px solid #064149;
  font-weight: bold;
  text-align: center;
  width: 40%;
}

.Ques-option:hover {
  background-color: #0d565f;
}

.newQues-div2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.newQues-inputH1,
.newQues-inputQues,
.newQues-inputAns {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  width: 90%;
  height: 40px;
  background-color: #eaeaea;
  border-radius: 8px;
  text-align: center;
  font-size: 14pt;
}

.newQues-label {
  margin-top: 0px;
  color: rgb(0, 102, 255);
  font-family:  Tahoma, sans-serif;
  font-size: 25px;
  margin-bottom: 7px;
}

.newQues-button {
  width: 280px;
  height: 50px;
  background: #2f4d57;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16pt;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.newQues-button:hover {
  transform: scale(1.1);
}

.newQues-H1 {
  margin-top: 10px;
  font-family: Tahoma, sans-serif;
  color: gray;
}