.profil-username{
    color:greenyellow ;
}
.profil-cim{
    color: green;
}
.profile-card-jelszo{
    color: rgb(25, 122, 12);
    background-color: aquamarine;
    
}
.pwchange-btn{
    background-color: brown;
}
.namechange-btn{
    background-color: rgb(96, 96, 255);
}
.profile-email{
    color: gold;
    background-color: rgba(39, 28, 28, 0.897);
}

.profile-email-button{
    background-color: gold;
}
.profil-kerdoiv{
    background-color: greenyellow;
    color:deeppink
}