.btn{
    background-color: aqua;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 30px;

    color:black;
    font-style:italic;
    font-weight: bold;

    border-color: blueviolet;
    border-width: 5px;
    margin-top: 10px;
    color: blueviolet;
}


.form__label{
    font-size: large;
    margin-top: 10px;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
   
      
}

.form__input{
   width: 200px;
}

.cim{
    color: black;
}
.red-rounded-border {
   
    border-radius: 20px;
    border-width: 7px;
   
  }
  

.adat_name{
    font-size: medium;
}

.register-page{
    display: flex;
    flex-direction: column;
    background:white;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(156,156,156);
    justify-content: space-around;
    
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.btn:hover{
    transform: scale(1.2);
    color: gray ;
}

.tracker-box{
    background-color: white;
    font-size: 14px;
    color: black;
    letter-spacing: 0.09em;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
   
  }
  