.btn{
    background-color: aqua;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 30px;

    color:blue;
    font-style:italic;
    font-weight: bold;

    border-color: blueviolet;
    border-width: 5px;
    margin-top: 10px;
    color: blueviolet;
}


.form__label{
    margin-top: 10px;
    color:yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.form__input{
   width: 200px;
}


.red-rounded-border {
    border: 1px solid #3e2be3;
    border-radius: 20px;
    border-width: 7px;
   
  }
  

.cim{
    color:yellow;
    font-weight: bold;
    font-size: larger;
    font-size: 40px;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.register-page{
    cursor:crosshair;
    display: flex;
    flex-direction: column;
    background:cadetblue;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(156,156,156);
    justify-content: space-around;
    
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}
.btn:hover{
    transform: scale(1.2);
    color: brown;
}

.tracker-box{
    background-color:rgb(43, 162, 162);
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.09em;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
  }